/* mina.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.mina-serif{font-family:serif}.mina-sans-serif{font-family:sans-serif}.mina-cursive{font-family:cursive}.mina-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.mina-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.mina-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.mina-table,.mina-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.mina-table-all{border:1px solid #ccc}
.mina-bordered tr,.mina-table-all tr{border-bottom:1px solid #ddd}.mina-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.mina-table-all tr:nth-child(odd){background-color:#fff}.mina-table-all tr:nth-child(even){background-color:#f1f1f1}
.mina-hoverable tbody tr:hover,.mina-ul.mina-hoverable li:hover{background-color:#ccc}.mina-centered tr th,.mina-centered tr td{text-align:center}
.mina-table td,.mina-table th,.mina-table-all td,.mina-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.mina-table th:first-child,.mina-table td:first-child,.mina-table-all th:first-child,.mina-table-all td:first-child{padding-left:16px}
.mina-btn,.mina-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.mina-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.mina-btn,.mina-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.mina-disabled,.mina-btn:disabled,.mina-button:disabled{cursor:not-allowed;opacity:0.3}.mina-disabled *,:disabled *{pointer-events:none}
.mina-btn.mina-disabled:hover,.mina-btn:disabled:hover{box-shadow:none}
.mina-badge,.mina-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.mina-badge{border-radius:50%}
.mina-ul{list-style-type:none;padding:0;margin:0}.mina-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.mina-ul li:last-child{border-bottom:none}
.mina-tooltip,.mina-display-container{position:relative}.mina-tooltip .mina-text{display:none}.mina-tooltip:hover .mina-text{display:inline-block}
.mina-ripple:active{opacity:0.5}.mina-ripple{transition:opacity 0s}
.mina-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.mina-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.mina-dropdown-click,.mina-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.mina-dropdown-hover:hover .mina-dropdown-content{display:block}
.mina-dropdown-hover:first-child,.mina-dropdown-click:hover{background-color:#ccc;color:#000}
.mina-dropdown-hover:hover > .mina-button:first-child,.mina-dropdown-click:hover > .mina-button:first-child{background-color:#ccc;color:#000}
.mina-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.mina-check,.mina-radio{width:24px;height:24px;position:relative;top:6px}
.mina-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.mina-bar-block .mina-dropdown-hover,.mina-bar-block .mina-dropdown-click{width:100%}
.mina-bar-block .mina-dropdown-hover .mina-dropdown-content,.mina-bar-block .mina-dropdown-click .mina-dropdown-content{min-width:100%}
.mina-bar-block .mina-dropdown-hover .mina-button,.mina-bar-block .mina-dropdown-click .mina-button{width:100%;text-align:left;padding:8px 16px}
.mina-main,#main{transition:margin-left .4s}
.mina-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.mina-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.mina-bar{width:100%;overflow:hidden}.mina-center .mina-bar{display:inline-block;width:auto}
.mina-bar .mina-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.mina-bar .mina-dropdown-hover,.mina-bar .mina-dropdown-click{position:static;float:left}
.mina-bar .mina-button{white-space:normal}
.mina-bar-block .mina-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.mina-bar-block.mina-center .mina-bar-item{text-align:center}.mina-block{display:block;width:100%}
.mina-responsive{display:block;overflow-x:auto}
.mina-container:after,.mina-container:before,.mina-panel:after,.mina-panel:before,.mina-row:after,.mina-row:before,.mina-row-padding:after,.mina-row-padding:before,
.mina-cell-row:before,.mina-cell-row:after,.mina-clear:after,.mina-clear:before,.mina-bar:before,.mina-bar:after{content:"";display:table;clear:both}
.mina-col,.mina-half,.mina-third,.mina-twothird,.mina-threequarter,.mina-quarter{float:left;width:100%}
.mina-col.s1{width:8.33333%}.mina-col.s2{width:16.66666%}.mina-col.s3{width:24.99999%}.mina-col.s4{width:33.33333%}
.mina-col.s5{width:41.66666%}.mina-col.s6{width:49.99999%}.mina-col.s7{width:58.33333%}.mina-col.s8{width:66.66666%}
.mina-col.s9{width:74.99999%}.mina-col.s10{width:83.33333%}.mina-col.s11{width:91.66666%}.mina-col.s12{width:99.99999%}
@media (min-width:601px){.mina-col.m1{width:8.33333%}.mina-col.m2{width:16.66666%}.mina-col.m3,.mina-quarter{width:24.99999%}.mina-col.m4,.mina-third{width:33.33333%}
.mina-col.m5{width:41.66666%}.mina-col.m6,.mina-half{width:49.99999%}.mina-col.m7{width:58.33333%}.mina-col.m8,.mina-twothird{width:66.66666%}
.mina-col.m9,.mina-threequarter{width:74.99999%}.mina-col.m10{width:83.33333%}.mina-col.m11{width:91.66666%}.mina-col.m12{width:99.99999%}}
@media (min-width:993px){.mina-col.l1{width:8.33333%}.mina-col.l2{width:16.66666%}.mina-col.l3{width:24.99999%}.mina-col.l4{width:33.33333%}
.mina-col.l5{width:41.66666%}.mina-col.l6{width:49.99999%}.mina-col.l7{width:58.33333%}.mina-col.l8{width:66.66666%}
.mina-col.l9{width:74.99999%}.mina-col.l10{width:83.33333%}.mina-col.l11{width:91.66666%}.mina-col.l12{width:99.99999%}}
.mina-rest{overflow:hidden}.mina-stretch{margin-left:-16px;margin-right:-16px}
.mina-content,.mina-auto{margin-left:auto;margin-right:auto}.mina-content{max-width:980px}.mina-auto{max-width:1140px}
.mina-cell-row{display:table;width:100%}.mina-cell{display:table-cell}
.mina-cell-top{vertical-align:top}.mina-cell-middle{vertical-align:middle}.mina-cell-bottom{vertical-align:bottom}
.mina-hide{display:none!important}.mina-show-block,.mina-show{display:block!important}.mina-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.mina-auto{max-width:95%}}
@media (max-width:600px){.mina-modal-content{margin:0 10px;width:auto!important}.mina-modal{padding-top:30px}
.mina-dropdown-hover.mina-mobile .mina-dropdown-content,.mina-dropdown-click.mina-mobile .mina-dropdown-content{position:relative}	
.mina-hide-small{display:none!important}.mina-mobile{display:block;width:100%!important}.mina-bar-item.mina-mobile,.mina-dropdown-hover.mina-mobile,.mina-dropdown-click.mina-mobile{text-align:center}
.mina-dropdown-hover.mina-mobile,.mina-dropdown-hover.mina-mobile .mina-btn,.mina-dropdown-hover.mina-mobile .mina-button,.mina-dropdown-click.mina-mobile,.mina-dropdown-click.mina-mobile .mina-btn,.mina-dropdown-click.mina-mobile .mina-button{width:100%}}
@media (max-width:768px){.mina-modal-content{width:500px}.mina-modal{padding-top:50px}}
@media (min-width:993px){.mina-modal-content{width:900px}.mina-hide-large{display:none!important}.mina-sidebar.mina-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.mina-hide-medium{display:none!important}}
@media (max-width:992px){.mina-sidebar.mina-collapse{display:none}.mina-main{margin-left:0!important;margin-right:0!important}.mina-auto{max-width:100%}}
.mina-top,.mina-bottom{position:fixed;width:100%;z-index:1}.mina-top{top:0}.mina-bottom{bottom:0}
.mina-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.mina-display-topleft{position:absolute;left:0;top:0}.mina-display-topright{position:absolute;right:0;top:0}
.mina-display-bottomleft{position:absolute;left:0;bottom:0}.mina-display-bottomright{position:absolute;right:0;bottom:0}
.mina-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.mina-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.mina-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.mina-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.mina-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.mina-display-container:hover .mina-display-hover{display:block}.mina-display-container:hover span.mina-display-hover{display:inline-block}.mina-display-hover{display:none}
.mina-display-position{position:absolute}
.mina-circle{border-radius:50%}
.mina-round-small{border-radius:2px}.mina-round,.mina-round-medium{border-radius:4px}.mina-round-large{border-radius:8px}.mina-round-xlarge{border-radius:16px}.mina-round-xxlarge{border-radius:32px}
.mina-row-padding,.mina-row-padding>.mina-half,.mina-row-padding>.mina-third,.mina-row-padding>.mina-twothird,.mina-row-padding>.mina-threequarter,.mina-row-padding>.mina-quarter,.mina-row-padding>.mina-col{padding:0 8px}
.mina-container,.mina-panel{padding:0.01em 16px}.mina-panel{margin-top:16px;margin-bottom:16px}
.mina-code,.mina-codespan{font-family:Consolas,Menlo,"courier new",monospace;font-size:16px}
.mina-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.mina-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.mina-card,.mina-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.mina-card-4,.mina-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.mina-spin{animation:mina-spin 2s infinite linear}@keyframes mina-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.mina-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.mina-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.mina-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.mina-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.mina-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.mina-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.mina-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.mina-animate-input{transition:width 0.4s ease-in-out}.mina-animate-input:focus{width:100%!important}
.mina-opacity,.mina-hover-opacity:hover{opacity:0.60}.mina-opacity-off,.mina-hover-opacity-off:hover{opacity:1}
.mina-opacity-max{opacity:0.25}.mina-opacity-min{opacity:0.75}
.mina-greyscale-max,.mina-grayscale-max,.mina-hover-greyscale:hover,.mina-hover-grayscale:hover{filter:grayscale(100%)}
.mina-greyscale,.mina-grayscale{filter:grayscale(75%)}.mina-greyscale-min,.mina-grayscale-min{filter:grayscale(50%)}
.mina-sepia{filter:sepia(75%)}.mina-sepia-max,.mina-hover-sepia:hover{filter:sepia(100%)}.mina-sepia-min{filter:sepia(50%)}
.mina-tiny{font-size:10px!important}.mina-small{font-size:12px!important}.mina-medium{font-size:15px!important}.mina-large{font-size:18px!important}
.mina-xlarge{font-size:24px!important}.mina-xxlarge{font-size:36px!important}.mina-xxxlarge{font-size:48px!important}.mina-jumbo{font-size:64px!important}
.mina-left-align{text-align:left!important}.mina-right-align{text-align:right!important}.mina-justify{text-align:justify!important}.mina-center{text-align:center!important}
.mina-border-0{border:0!important}.mina-border{border:1px solid #ccc!important}
.mina-border-top{border-top:1px solid #ccc!important}.mina-border-bottom{border-bottom:1px solid #ccc!important}
.mina-border-left{border-left:1px solid #ccc!important}.mina-border-right{border-right:1px solid #ccc!important}
.mina-topbar{border-top:6px solid #ccc!important}.mina-bottombar{border-bottom:6px solid #ccc!important}
.mina-leftbar{border-left:6px solid #ccc!important}.mina-rightbar{border-right:6px solid #ccc!important}
.mina-section,.mina-code{margin-top:16px!important;margin-bottom:16px!important}
.mina-margin{margin:16px!important}.mina-margin-top{margin-top:16px!important}.mina-margin-bottom{margin-bottom:16px!important}
.mina-margin-left{margin-left:16px!important}.mina-margin-right{margin-right:16px!important}
.mina-padding-small{padding:4px 8px!important}.mina-padding{padding:8px 16px!important}.mina-padding-large{padding:12px 24px!important}
.mina-padding-16{padding-top:16px!important;padding-bottom:16px!important}.mina-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.mina-padding-32{padding-top:32px!important;padding-bottom:32px!important}.mina-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.mina-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.mina-padding-top-64{padding-top:64px!important}.mina-padding-top-48{padding-top:48px!important}
.mina-padding-top-32{padding-top:32px!important}.mina-padding-top-24{padding-top:24px!important}
.mina-left{float:left!important}.mina-right{float:right!important}
.mina-button:hover{color:#000!important;background-color:#ccc!important}
.mina-transparent,.mina-hover-none:hover{background-color:transparent!important}
.mina-hover-none:hover{box-shadow:none!important}
/* Colors */
.mina-amber,.mina-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.mina-aqua,.mina-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.mina-blue,.mina-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.mina-light-blue,.mina-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.mina-brown,.mina-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.mina-cyan,.mina-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.mina-blue-grey,.mina-hover-blue-grey:hover,.mina-blue-gray,.mina-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.mina-green,.mina-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.mina-light-green,.mina-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.mina-indigo,.mina-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.mina-khaki,.mina-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.mina-lime,.mina-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.mina-orange,.mina-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.mina-deep-orange,.mina-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.mina-pink,.mina-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.mina-purple,.mina-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.mina-deep-purple,.mina-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.mina-red,.mina-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.mina-sand,.mina-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.mina-teal,.mina-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.mina-yellow,.mina-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.mina-white,.mina-hover-white:hover{color:#000!important;background-color:#fff!important}
.mina-black,.mina-hover-black:hover{color:#fff!important;background-color:#000!important}
.mina-grey,.mina-hover-grey:hover,.mina-gray,.mina-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.mina-light-grey,.mina-hover-light-grey:hover,.mina-light-gray,.mina-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.mina-dark-grey,.mina-hover-dark-grey:hover,.mina-dark-gray,.mina-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.mina-pale-red,.mina-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.mina-pale-green,.mina-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.mina-pale-yellow,.mina-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.mina-pale-blue,.mina-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.mina-text-amber,.mina-hover-text-amber:hover{color:#ffc107!important}
.mina-text-aqua,.mina-hover-text-aqua:hover{color:#00ffff!important}
.mina-text-blue,.mina-hover-text-blue:hover{color:#2196F3!important}
.mina-text-light-blue,.mina-hover-text-light-blue:hover{color:#87CEEB!important}
.mina-text-brown,.mina-hover-text-brown:hover{color:#795548!important}
.mina-text-cyan,.mina-hover-text-cyan:hover{color:#00bcd4!important}
.mina-text-blue-grey,.mina-hover-text-blue-grey:hover,.mina-text-blue-gray,.mina-hover-text-blue-gray:hover{color:#607d8b!important}
.mina-text-green,.mina-hover-text-green:hover{color:#4CAF50!important}
.mina-text-light-green,.mina-hover-text-light-green:hover{color:#8bc34a!important}
.mina-text-indigo,.mina-hover-text-indigo:hover{color:#3f51b5!important}
.mina-text-khaki,.mina-hover-text-khaki:hover{color:#b4aa50!important}
.mina-text-lime,.mina-hover-text-lime:hover{color:#cddc39!important}
.mina-text-orange,.mina-hover-text-orange:hover{color:#ff9800!important}
.mina-text-deep-orange,.mina-hover-text-deep-orange:hover{color:#ff5722!important}
.mina-text-pink,.mina-hover-text-pink:hover{color:#e91e63!important}
.mina-text-purple,.mina-hover-text-purple:hover{color:#9c27b0!important}
.mina-text-deep-purple,.mina-hover-text-deep-purple:hover{color:#673ab7!important}
.mina-text-red,.mina-hover-text-red:hover{color:#f44336!important}
.mina-text-sand,.mina-hover-text-sand:hover{color:#fdf5e6!important}
.mina-text-teal,.mina-hover-text-teal:hover{color:#009688!important}
.mina-text-yellow,.mina-hover-text-yellow:hover{color:#d2be0e!important}
.mina-text-white,.mina-hover-text-white:hover{color:#fff!important}
.mina-text-black,.mina-hover-text-black:hover{color:#000!important}
.mina-text-grey,.mina-hover-text-grey:hover,.mina-text-gray,.mina-hover-text-gray:hover{color:#757575!important}
.mina-text-light-grey,.mina-hover-text-light-grey:hover,.mina-text-light-gray,.mina-hover-text-light-gray:hover{color:#f1f1f1!important}
.mina-text-dark-grey,.mina-hover-text-dark-grey:hover,.mina-text-dark-gray,.mina-hover-text-dark-gray:hover{color:#3a3a3a!important}
.mina-border-amber,.mina-hover-border-amber:hover{border-color:#ffc107!important}
.mina-border-aqua,.mina-hover-border-aqua:hover{border-color:#00ffff!important}
.mina-border-blue,.mina-hover-border-blue:hover{border-color:#2196F3!important}
.mina-border-light-blue,.mina-hover-border-light-blue:hover{border-color:#87CEEB!important}
.mina-border-brown,.mina-hover-border-brown:hover{border-color:#795548!important}
.mina-border-cyan,.mina-hover-border-cyan:hover{border-color:#00bcd4!important}
.mina-border-blue-grey,.mina-hover-border-blue-grey:hover,.mina-border-blue-gray,.mina-hover-border-blue-gray:hover{border-color:#607d8b!important}
.mina-border-green,.mina-hover-border-green:hover{border-color:#4CAF50!important}
.mina-border-light-green,.mina-hover-border-light-green:hover{border-color:#8bc34a!important}
.mina-border-indigo,.mina-hover-border-indigo:hover{border-color:#3f51b5!important}
.mina-border-khaki,.mina-hover-border-khaki:hover{border-color:#f0e68c!important}
.mina-border-lime,.mina-hover-border-lime:hover{border-color:#cddc39!important}
.mina-border-orange,.mina-hover-border-orange:hover{border-color:#ff9800!important}
.mina-border-deep-orange,.mina-hover-border-deep-orange:hover{border-color:#ff5722!important}
.mina-border-pink,.mina-hover-border-pink:hover{border-color:#e91e63!important}
.mina-border-purple,.mina-hover-border-purple:hover{border-color:#9c27b0!important}
.mina-border-deep-purple,.mina-hover-border-deep-purple:hover{border-color:#673ab7!important}
.mina-border-red,.mina-hover-border-red:hover{border-color:#f44336!important}
.mina-border-sand,.mina-hover-border-sand:hover{border-color:#fdf5e6!important}
.mina-border-teal,.mina-hover-border-teal:hover{border-color:#009688!important}
.mina-border-yellow,.mina-hover-border-yellow:hover{border-color:#ffeb3b!important}
.mina-border-white,.mina-hover-border-white:hover{border-color:#fff!important}
.mina-border-black,.mina-hover-border-black:hover{border-color:#000!important}
.mina-border-grey,.mina-hover-border-grey:hover,.mina-border-gray,.mina-hover-border-gray:hover{border-color:#9e9e9e!important}
.mina-border-light-grey,.mina-hover-border-light-grey:hover,.mina-border-light-gray,.mina-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.mina-border-dark-grey,.mina-hover-border-dark-grey:hover,.mina-border-dark-gray,.mina-hover-border-dark-gray:hover{border-color:#616161!important}
.mina-border-pale-red,.mina-hover-border-pale-red:hover{border-color:#ffe7e7!important}.mina-border-pale-green,.mina-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.mina-border-pale-yellow,.mina-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.mina-border-pale-blue,.mina-hover-border-pale-blue:hover{border-color:#e7ffff!important}


a:hover,a:active{color: #059862}
table.mina-table-all,table.c-table-all{margin:20px 0}
/*OPPSETT AV TOP, TOPNAV, SIDENAV, MAIN, RIGHT OG FOOTER:*/
.top {
position:relative;
background-color:#ffffff;
height:68px;
padding-top:20px;
line-height:50px;
overflow:hidden;
z-index:2;
}
#pagetop {
position:relative;
z-index:4;
font-size:18px;
background-color:white;
color:#282A35;
padding-left:12px;
padding-right:16px;
font-family:'Source Sans Pro', sans-serif;
}
.minaschools-logo {
font-family:fontawesome;
text-decoration:none;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
font-size:37px;
letter-spacing:3px;
color:#555555;
display:block;
position:absolute;
top:17px;
}
.minaschools-logo .dotcom {color:#4CAF50}
.toptext {margin-right:20px;}
.login {display:none;line-height:1.5;padding:6px 14px;position:relative;top:7px;color:#fff;background-color:#4CAF50;text-decoration:none;border-radius:5px;font-family:"Segoe UI",Arial,sans-serif;font-weight:bold;}
#loginactioncontainer {width:80px;height:50px;}
/*#loginsignup {display:none;font-family:Verdana, sans-serif;}*/
#mypagediv {display:none;}
.login:hover {background-color:#46a049;color:#fff}
.login:focus {outline:none}
#nav_login .signup {padding:10px;background-color:#2196F3;color:#fff;text-decoration:none;}
span.usergetspoint {display:inline-block;line-height:normal;position:absolute;bottom:3px;font-size:12px;font-family:consolas,Menlo,monospace;background-color:transparent;color:transparent;border-radius:5px;padding:1px 3px;}
span#usergetstutpoint {animation-name:tutpoint;animation-duration:3s;animation-timing-function:linear;}
span#usergetsquizpoint {animation-name:quizpoint;animation-duration:3s;animation-timing-function:linear;}
span#usergetsstar {display:inline-block;line-height:normal;position:absolute;bottom:3px;font-size:12px;}
span#usergetsstar {animation-name: example;animation-duration: 1s;animation-timing-function: linear;animation-fill-mode: forwards}
  @keyframes example {
  0% {color:#FFD700;transform: rotate(0deg);}
  100% {font-size:48px;color:#FFD700;transform: rotate(360deg);}
}
@keyframes tutpoint {
  0% {background-color:transparent;color:transparent}
  1% {background-color:rgba(76, 175, 80, 1);color:#fff}
  5%  {font-size:16px;}
  14%  {font-size:12px;}
  16%  {font-size:16px;}
  25%  {font-size:12px;}
  27%  {font-size:16px;}
  29%  {font-size:12px;background-color:rgba(76, 175, 80, 1);color:#fff}
  50% {background-color:transparent;color:transparent}
}
@keyframes quizpoint {
  0% {background-color:transparent;color:transparent}
  1% {background-color:rgba(44, 156, 202, 1);color:#fff}
  5%  {font-size:16px;}
  14%  {font-size:12px;}
  16%  {font-size:16px;}
  25%  {font-size:12px;}
  27%  {font-size:16px;}
  29%  {background-color:rgba(44, 156, 202, 1);color:#fff}
  50% {background-color:transparent;color:transparent}
}
.topnav {
position:relative;
z-index:2;
font-size:17px;
background-color: #282A35;
color:#f1f1f1;
width:100%;
padding:0;
letter-spacing:1px;
font-family: 'Source Sans Pro', sans-serif;
}
.topnav a{
padding:10px 15px 9px 15px !important;
}
.topnav .mina-bar a:hover,.topnav .mina-bar a:focus{
background-color:#000000 !important;
color:#ffffff !important;
}
.topnav .mina-bar a.active {
background-color: #04AA6D!important;
color:#ffffff;
}
a.topnav-icons {
width:52px !important;
font-size:20px !important;
padding-top:11px !important;
padding-bottom:13px !important;
}
a.topnav-icons.fa-home {font-size:22px !important}
a.topnav-icons.fa-menu {font-size:22px !important}
a.topnav-localicons {
font-size:20px !important;
padding-top:6px !important;
padding-bottom:12px !important;
}
/*i.fa-caret-down,i.fa-caret-up{width:10px}*/
#sidenav h2 {
font-size:21px;
padding-left:16px;
width:204px;
}
#sidenav a {font-family:"Segoe UI",Arial,sans-serif;text-decoration:none;display:block;padding:2px 1px 1px 16px}
#sidenav a:hover,#sidenav a:focus {color:#000000;background-color:#cccccc;}
#sidenav a.active {background-color:#04AA6D;color:#ffffff;}
#sidenav a.activesub:link,#sidenav a.activesub:visited {background-color:#ddd;color:#000;}
#sidenav a.activesub:hover,#sidenav a.activesub:active {background-color:#ccc;color:#000;}
#leftmenuinner {
position:fixed;
top:90px;
padding-bottom:0;    
height:100%;
width:220px;
background-color:transparent;
}
#leftmenuinnerinner {
height:100%;
width:100%;
background-color:#E7E9EB;
overflow-y:scroll;
overflow-x:hidden;
padding-top:40px;
}
#mainLeaderboard {height:90px}
#right {text-align:center;padding:16px 16px 0 0}
#right a {text-decoration:none}
/*#right a:hover {text-decoration:underline}*/
#skyscraper {min-height:600px}
.sidesection {margin-bottom:32px;}
#sidesection_exercise a{display:block;padding:4px 10px;}
#sidesection_exercise a:hover,#sidesection_exercise a:active{background-color:#ccc;text-decoration:none;color:#000000;}
#internalCourses {
font-size:18px;
font-family:'Source Sans Pro',sans-serif;
border-radius:5px;
color:#FFC0C7;
padding-top:1px;
margin-left:auto;
margin-right:auto;
max-width:230px;
background-color:#282A35;
}

.bottomad {padding:0 16px 16px 0;float:left;width:auto;}
.footer a {text-decoration:none;}
.footer a:hover{text-decoration:underline;}
#nav_tutorials,#nav_references,#nav_exercises,#nav_login{-webkit-overflow-scrolling:touch;overflow:auto;}
#nav_tutorials::-webkit-scrollbar,#nav_references::-webkit-scrollbar,#nav_exercises::-webkit-scrollbar {width: 12px;}
#nav_tutorials::-webkit-scrollbar-track,#nav_references::-webkit-scrollbar-track,#nav_exercises::-webkit-scrollbar-track {background:#555555;}
#nav_tutorials::-webkit-scrollbar-thumb,#nav_references::-webkit-scrollbar-thumb,#nav_exercises::-webkit-scrollbar-thumb {background: #999999;}

#nav_tutorials,#nav_references,#nav_exercises,#nav_login {
display:none;
letter-spacing:0;
margin-top:44px;
position:absolute;
width:100%;
background-color:#282A35;
color:white;
padding-bottom:60px;
}
#nav_tutorials a,#nav_references a,#nav_exercises a,#nav_examples a{
padding:2px 0 2px 6px!important;
font-size:18px;
}
#nav_tutorials a:focus,#nav_references a:focus,#nav_exercises a:focus,#nav_examples a:focus{
color: #000;
background-color: #ccc;
}
#nav_tutorials h3,#nav_references h3,#nav_exercises h3,#nav_examples h3, #sectionxs_tutorials h3,
#sectionxs_references h3,
#sectionxs_exercises h3 {
padding-left:6px;
color: #FFF4A3;
font-family: 'Source Sans Pro', sans-serif;
}


.ref_overview{display:none}
.tut_overview{
 display :none;
 margin-left:10px;
 background-color:#ddd;
 line-height:1.8em;
}
#sidenav a.activesub:link,#sidenav a.activesub:visited {background-color:#ddd;color:#000;}
#sidenav a.activesub:hover,#sidenav a.activesub:active {background-color:#ccc;color:#000;}
#sidenav a.active_overview:link,#sidenav a.active_overview:visited {background-color:#ccc;color:#000;}
.mina-example{background-color:#E7E9EB;border-radius:5px;padding:0.01em 16px;margin:20px 0;box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.nextprev a {font-size: 18px;font-family: 'Source Sans Pro', sans-serif;padding-left:19px;padding-right:19px;border:1px solid #cccccc;border-radius:5px;}
.nextprev a:link,.nextprev a:visited {background-color:#ffffff;color:#000000;}
.mina-example a:focus,.nextprev a:focus{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.mina-example .mina-btn, .mina-example .c-btn {
  background-color:#04AA6D!important;
  border-radius:5px;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  padding:6px 18px;
}
.mina-code{border-left:4px solid #04AA6D;}

.nextprev a.mina-right,.nextprev a.mina-left {background-color:#04AA6D;color:#ffffff;border-color:#04AA6D}
.pagemenu{margin-left:-20px;margin-right:-20px;padding:20px;background-color:#d4edda;line-height:2.8em;color:#555;}
.pagemenu hr {border-top: 1px solid #fff;margin:20px 0;}
.pagemenu a {display:block;text-decoration:none!important;}
.pagemenu a:hover,.learnmore a:active {color:#000;}
#mina-exerciseform {background-color:#282A35;padding:16px;color:#ffffff;border-radius:5px;}
#mina-exerciseform .exercisewindow {background-color:#ffffff;padding:16px;color:#000000;}
#mina-exerciseform .exerciseprecontainer {background-color:#E7E9EB;padding:16px;font-size:120%;font-family:Consolas,Menlo,"Courier New", Courier, monospace;overflow:auto;}
#mina-exerciseform .exerciseprecontainer pre[class*="language-"] {padding:1px;}
#mina-exerciseform .exerciseprecontainer pre {display: block;}
#mina-exerciseform .exerciseprecontainer textarea {width:100%;border:none;overflow:hidden}
#mina-exerciseform .exerciseprecontainer input {padding:1px;border: 1px solid transparent;height:1.3em;}
#mina-exerciseform .mina-btn {background-color:#04AA6D;border-radius:5px;font-size: 17px;font-family: 'Source Sans Pro', sans-serif;padding:7px 18px;}
.mina-theme {color:#fff !important;background-color:#73AD21 !important;background-color:#04AA6D !important}
.mina-theme-border {border-color:#04AA6D !important}
.sharethis a:hover {color:inherit;}
.fa-facebook-square,.fa-instagram,.fa-linkedin-square {padding:0 2px;}
.fa-facebook-square:hover, .fa-thumbs-o-up:hover {color:#3B5998;}
.fa-instagram:hover {color:#8a3ab9;}
.fa-linkedin-square:hover {color:#2867B2;}
.fa-twitter-square:hover {color:#55acee;}
.fa-discord:hover {color:#5865f2;}
#google_translate_element img {margin-bottom:-1px;}
#googleSearch {color:#000000;}
#googleSearch a {padding:0 !important;}
.searchdiv {max-width:400px;margin:auto;text-align:left;font-size:16px}
div.cse .gsc-control-cse, div.gsc-control-cse {background-color:transparent;border:none;padding:6px;margin:0px}
td.gsc-search-button input.gsc-search-button {background-color:#4CAF50;border-color:#4CAF50}
td.gsc-search-button input.gsc-search-button:hover {background-color:#46a049;}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button {
box-sizing:content-box; line-height:normal;}
.gsc-tabsArea div {overflow:visible;}
/*"nullstille" minacss:*/
.mina-main{transition:margin-left 0s;}
/*"nullstilling" slutt*/
@media (min-width:1675px) {
#main {width:79%}
#right {width:21%}
}
@media (max-width:600px) {
.top img {display:block;margin:auto;}
/*#mypagediv {position:absolute;width:auto;right:0;top:16px;}*/
}
@media (max-width:400px) {
.top .minaschools-logo {font-size:30px;top:24px;}
}
@media (max-width:992px) {
.toptext {display:none;}
.login {top:2px;}
#sidenav {width:260px;box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
#sidenav h2 {font-size:26px;width:100%;}
#sidenav a {padding:3px 2px 3px 24px;font-size:17px}
#leftmenuinner {overflow:auto;-webkit-overflow-scrolling:touch;height:100%;position:relative;width:auto;padding-top:0;background-color:#f1f1f1;}
#leftmenuinnerinner {overflow-y:scroll}
.bottomad {float:none;text-align:center}
#skyscraper {min-height:60px}
}
@media screen and (max-width:600px) {
.mina-example, .mina-note, #mina-exerciseform {margin-left:-16px;margin-right:-16px;}
}
/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/source-code-pro-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/source-code-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/source-code-pro-v14-latin-regular.woff2') format('woff2'), /* Super Modern Brocers */
       url('fonts/source-code-pro-v14-latin-regular.woff') format('woff'), /* Modern Brocers */
       url('fonts/source-code-pro-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/source-code-pro-v14-latin-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* roboto-mono-500 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-mono-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: url('fonts/roboto-mono-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-mono-v13-latin-500.woff2') format('woff2'), /* Super Modern Brocers */
       url('fonts/roboto-mono-v13-latin-500.woff') format('woff'), /* Modern Brocers */
       url('fonts/roboto-mono-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-mono-v13-latin-500.svg#RobotoMono') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/source-sans-pro-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: url('fonts/source-sans-pro-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/source-sans-pro-v14-latin-700.woff2') format('woff2'), /* Super Modern Brocers */
       url('fonts/source-sans-pro-v14-latin-700.woff') format('woff'), /* Modern Brocers */
       url('fonts/source-sans-pro-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/source-sans-pro-v14-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/source-sans-pro-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: url('fonts/source-sans-pro-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/source-sans-pro-v14-latin-600.woff2') format('woff2'), /* Super Modern Brocers */
       url('fonts/source-sans-pro-v14-latin-600.woff') format('woff'), /* Modern Brocers */
       url('fonts/source-sans-pro-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/source-sans-pro-v14-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* freckle-face-regular - latin */
@font-face {
  font-family: 'Freckle Face';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/freckle-face-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/freckle-face-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/freckle-face-v9-latin-regular.woff2') format('woff2'), /* Super Modern Brocers */
       url('fonts/freckle-face-v9-latin-regular.woff') format('woff'), /* Modern Brocers */
       url('fonts/freckle-face-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/freckle-face-v9-latin-regular.svg#FreckleFace') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Super Modern Brocers */
       url('fonts/montserrat-v18-latin-regular.woff') format('woff'), /* Modern Brocers */
       url('fonts/montserrat-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* fontawesome */
@font-face {
  font-family: 'fontawesome';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/fontawesome.eot?14663396'); /* IE9 Compat Modes */
  src: url('fonts/fontawesome.eot?14663396#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/fontawesome.woff2?14663396') format('woff2'), /* Super Modern Brocers */
       url('fonts/fontawesome.woff?14663396') format('woff'), /* Modern Brocers */
       url('fonts/fontawesome.ttf?14663396') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fontawesome.svg?14663396#fontawesome') format('svg'); /* Legacy iOS */
  font-display: swap;
}

.fa {
display:inline-block;
font:normal normal normal 14px/1 fontawesome;
font-size:inherit;
text-rendering:auto;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
transform:translate(0, 0);
}
.fa-2x {
 font-size:2em;
}

.fa-home:before {content:'\e800';}
.fa-globe:before {content:'\e801';}
.fa-search:before {content:'\e802'; }
.fa-thumbs-o-up:before {content:'\e803';}
.fa-save:before {content: '\e804'; }
.fa-envelope:before { content: '\e805'; }
.fa-facebook-square:before {content:'\e806';}
.fa-discord:before {content:'\e807';}
.fa-twitter-square:before {content:'\e808';}
.fa-caret-down:before {content:'\e809';}
.fa-caret-up:before {content:'\e80a';}
.fa-adjust:before { content: '\e80b'; }
.fa-copy:before {content:'\e80c';}
.fa-rotate:before {content: '\e813'; }
.fa-close:before {content:'\e815';}
.fa-user:before { content: '\e816'; }
.fa-check:before {content:'\e817';}
.fa-js:before { content: '\e819'; }
.fa-python:before { content: '\e81a'; }
.fa-php:before { content: '\e81b'; }
.fa-bootstrap:before { content: '\e81c'; }
.fa-java:before { content: '\e821'; }
.fa-logo:before { content: '\e822'; }
.fa-logomina:before {content:'\e823';}
.fa-certified:before {content:'\e829';}
.fa-menu:before {content: '\f0c9';}
.fa-code:before { content: '\f121'; }
.fa-html5:before { content: '\f13b'; }
.fa-css3:before { content: '\f13c'; }
.fa-instagram:before {content:'\f16d';}
.fa-graduation-cap:before { content: '\f19d'; }
.fa-trash:before {content:'\f1f8';}
.fa-linkedin-square:before {content:'\f30c';}
.fa-smiley-1:before {content:'\f330';}
.fa-smiley-2:before {content:'\f32e';}
.fa-smiley-3:before {content:'\f32d';}
.fa-smiley-4:before {content:'\f344';}
.fa-smiley-5:before {content:'\f32c';}
.fa-smiley-6:before {content:'\f32f';}
.fa-smiley-7:before {content:'\f331';}
.fa-smiley-8:before {content:'\f32b';}
.fa-smiley-9:before {content:'\f32a';}
.fa-smiley-10:before {content:'\f329';}

span.marked, span.deprecated {
 color:#e80000;
 background-color:transparent;
}
.mina-code span.marked {
 color:#e80000;
 background-color:transparent;
}
.mina-codeline{background-color:#E7E9EB;color:#000;font-family: Consolas,Menlo,"courier new",monospace;padding:15px;}
#nav_login {background-color:#f1f1f1;color:#000;}
.loginmodalform {margin:auto;width:100%;max-width:700px;text-align:left;padding:20px 40px;}
.loginmodaldiv input {width:100%;border:1px solid #ccc;padding:8px 12px;}
.loginmodaldiv .login_submit_container {text-align:right;}
.loginmodaldiv button {width:30%;min-width:120px;border:none;border-radius:5px;padding:6px 10px;background-color:#4CAF50;color:#fff;cursor:pointer;font-weight:bold;font-family:"Segoe UI",Arial,sans-serif;}
.loginmodaldiv button:hover {background-color:#46a049;color:#fff;}
.loginmodaldiv button:focus {outline:none}
.loginmodaldiv a {padding:0 !important;color:#000;}
.login_newusertext {width:auto;float:right;text-align:right;}
.login_forgotpasswordtext {width:auto;float:left;}
@media screen and (max-width:700px) {
  .loginmodaldiv .login_submit_container {text-align:center;}
  .login_newusertext {width:100%;text-align:center;margin-top:20px;}
  .login_forgotpasswordtext {width:100%;text-align:center;margin-top:30px;}
}
.darktheme .mina-code span.marked {
 color:#ff9999;
 background-color:transparent;
}
.darktheme .mina-example.mina-light-grey {
  background-color:rgb(40,44,52)!important;color:white;
}
.intro {font-size:16px}
.mina-btn, .mina-btn:link, .mina-btn:visited {color:#FFFFFF;background-color:#4CAF50}
a.mina-btn[href*="exercise.asp"],a.mina-btn[href*="exercise_js.asp"] {margin:10px 5px 0 0}
a.btnplayit,a.btnplayit:link,a.btnplayit:visited {border-radius:5px;background-color:#FFAD33;padding:1px 10px 2px 10px;font-size: 16px;font-family: 'Source Sans Pro', sans-serif;}
a.btnplayit:hover,a.btnplayit:active {background-color:#ffffff;color:#FFAD33}
a.btnplayit:hover {box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);}
a.btnsmall:link,a.btnsmall:visited,a.btnsmall:active,a.btnsmall:hover {
float:right;padding:1px 10px 2px 10px;font-size: 16px;font-family: 'Source Sans Pro', sans-serif;}
a.btnsmall:hover {box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);}
a.btnsmall:active,a.btnsmall:hover {color:#4CAF50;background-color:#ffffff}
.tagcolor{color:mediumblue}
.tagnamecolor{color:brown}
.attributecolor{color:red}
.attributevaluecolor{color:mediumblue}
.commentcolor{color:green}
.cssselectorcolor{color:brown}
.csspropertycolor{color:red}
.csspropertyvaluecolor{color:mediumblue}
.cssdelimitercolor{color:black}
.cssimportantcolor{color:red}  
.jscolor{color:black}
.jskeywordcolor{color:mediumblue}
.jsstringcolor{color:brown}
.jsnumbercolor{color:red}
.jspropertycolor{color:black}
.javacolor{color:black}
.javakeywordcolor{color:mediumblue}
.javastringcolor{color:brown}
.javanumbercolor{color:red}
.javapropertycolor{color:black}
.kotlincolor{color:black}
.kotlinkeywordcolor{color:mediumblue}
.kotlinstringcolor{color:brown}
.kotlinnumbercolor{color:red}
.kotlinpropertycolor{color:black}
.phptagcolor{color:red}
.phpcolor{color:black}
.phpkeywordcolor{color:mediumblue}
.phpglobalcolor{color:goldenrod}
.phpstringcolor{color:brown}
.phpnumbercolor{color:red}  
.pythoncolor{color:black}
.pythonkeywordcolor{color:mediumblue}
.pythonstringcolor{color:brown}
.pythonnumbercolor{color:red}  
.angularstatementcolor{color:red}
.sqlcolor{color:black}
.sqlkeywordcolor{color:mediumblue}
.sqlstringcolor{color:brown}
.sqlnumbercolor{color:red} 
.darktheme .mina-code{background-color:rgb(40,44,52);color:white;border-left-color:rgb(40,44,52)}
.darktheme .mina-codeline{background-color:rgb(40,44,52);color:white;border-left-color:rgb(40,44,52)}
.darktheme .mina-example pre{background-color:rgb(40,44,52)!important;border-left-color:rgb(40,44,52)}
.darktheme .tagcolor{color:#88ccbb/*green2*/!important}
.darktheme .tagnamecolor{color:#ff9999/*red*/!important}
.darktheme .attributecolor{color:#c5a5c5/*purple*/!important}
.darktheme .attributevaluecolor{color:#88c999/*green*/!important}
.darktheme .commentcolor{color:#999!important}
.darktheme .cssselectorcolor{color:#ff9999/*red*/!important}
.darktheme .csspropertycolor{color:#c5a5c5/*purple*/!important}
.darktheme .csspropertyvaluecolor{color:#88c999/*green*/!important}
.darktheme .cssdelimitercolor{color:white!important}
.darktheme .cssimportantcolor{color:#ff9999/*red*/!important}
.darktheme .jscolor{color:white!important}
.darktheme .jskeywordcolor{color:#c5a5c5/*purple*/!important}
.darktheme .jsstringcolor{color:#88c999/*green*/!important}
.darktheme .jsstringtempcolor{color:#faca6b/*green*/!important}
.darktheme .jsregexpcolor{color:#faca6b/*green*/!important}
.darktheme .jsnumbercolor{color:#80b6ff/*blue*/!important}
.darktheme .jspropertycolor{color:white!important}
.darktheme .javacolor{color:white!important}
.darktheme .javakeywordcolor{color:#88c999/*green*/!important}
.darktheme .javastringcolor{color:#88c999/*green*/!important}
.darktheme .javanumbercolor{color:#88c999/*green*/!important}
.darktheme .javapropertycolor{color:white!important}
.darktheme .kotlincolor{color:white!important}
.darktheme .kotlinkeywordcolor{color:#88c999/*green*/!important}
.darktheme .kotlinstringcolor{color:#88c999/*green*/!important}
.darktheme .kotlinnumbercolor{color:#88c999/*green*/!important}
.darktheme .kotlinpropertycolor{color:white!important}
.darktheme .phptagcolor{color:#999!important}
.darktheme .phpcolor{color:white!important}
.darktheme .phpkeywordcolor{color:#ff9999/*red*/!important}
.darktheme .phpglobalcolor{color:white!important}
.darktheme .phpstringcolor{color:#88c999/*green*/!important}
.darktheme .phpnumbercolor{color:#88c999/*green*/!important}
.darktheme .pythoncolor{color:white!important}
.darktheme .pythonkeywordcolor{color:#ff9999/*red*/!important}
.darktheme .pythonstringcolor{color:#88c999/*green*/!important}
.darktheme .pythonnumbercolor{color:#88c999/*green*/!important}
.darktheme .angularstatementcolor{color:#ff9999/*red*/!important}
.darktheme .sqlcolor{color:white!important}
.darktheme .sqlkeywordcolor{color:#80b6ff/*blue*/!important}
.darktheme .sqlstringcolor{color:#88c999/*green*/!important}
/* .darktheme .sqlnumbercolor{color:} */
@media only screen and (max-device-width: 480px) {
.mina-code,mina-codeline,.mina-codespan,#mina-exerciseform .exerciseprecontainer {font-family: 'Source Code Pro',Menlo,Consolas,monospace;}
.mina-code,mina-codeline {font-size:14px;}
.mina-codespan {font-size:15px;}
#mina-exerciseform .exerciseprecontainer {font-size:15px;}
#mina-exerciseform .exerciseprecontainer input {padding:0;height:1.5em}
}
@media screen and (max-width:700px) {
#mainLeaderboard {height:60px}
#div-gpt-ad-1422003450156-0 {float:none;margin-left:auto;margin-right:auto}
#div-gpt-ad-1422003450156-3 {float:none;margin-left:auto;margin-right:auto}
}
/*@media (max-width:1510px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(12){display:none;}}*/
@media (max-width:1550px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(18){display:none;}}
@media (max-width:1475px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(17){display:none;}}
@media (max-width:1430px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(16){display:none;}}
@media (max-width:1390px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(15){display:none;}}
@media (max-width:1330px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(14){display:none;}}
@media (max-width:1250px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(13){display:none;}}
@media (max-width:1150px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(12){display:none;}}
/*@media (max-width:1330px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(10){display:none;}}*/
@media (max-width:1100px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(11){display:none;}}
/*@media (max-width:1200px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(9){display:none;}}*/
@media (max-width:993px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(10){display:none;}}
/*@media (max-width:1100px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(8){display:none;}}*/
@media (max-width:930px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(9){display:none;}}
/*@media (max-width:1000px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(7){display:none;}}*/
@media (max-width:810px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(8){display:none;}}
@media (max-width:770px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(7){display:none;}}
/*@media (max-width:800px)  {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(19){display:none;}}
@media (max-width:800px)  {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(20){display:none;}}*/
@media (max-width:700px) {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(6){display:none;}}
@media (max-width:560px)  {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(5){display:none;}}
@media (max-width:480px)  {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(4){display:none;}}
@media (max-width:370px)  {#topnav .mina-bar:nth-of-type(1) a:nth-of-type(3){display:none;}}
.mina-note{background-color:#ffffcc;border-left:6px solid #ffeb3b}
.mina-warning{background-color:#ffdddd;border-left:6px solid #f44336}
.mina-info{background-color:#04AA6D;border-left:6px solid #4CAF50}
hr[id^="ez-insert-after-placeholder"] {margin-top: 0;}
.phonebr {display:none;}
@media screen and (max-width: 475px) {.phonebr {display:initial;}}

/*NYTT:*/
#right {
  padding:16px 8px;
}
.sidesection .mina-left-align {
  text-align:center!important;
}
#footer {padding:32px;border-top:1px solid #f1f1f1;}
#footer hr:first-child {
  display:none;
}
.mina-info {
  background-color:#D9EEE1;
  border-left: none;
  padding:32px;
  margin:24px;
  margin-left:-32px;
  margin-right:-32px;
}
.mina-info .mina-btn {
  background-color:#04AA6D;
  border-radius: 5px;
}
.mina-example {
  padding: 8px 20px;
  margin: 24px -20px;
  box-shadow:none!important;
}
.mina-note, .mina-warning {
  border-left: none;
}


/*.mina-panel {*/
.mina-note, .mina-warning {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left:-32px;
  margin-right:-32px;
  padding:16px 32px;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 32px;
}
.mina-btn:hover,.mina-btn:active,.mina-example a:focus,.nextprev a:focus {
  box-shadow: none;
  background-color: #059862 !important;
}
.mina-btn:hover.mina-blue,.mina-btn:active.mina-blue,.mina-button:hover.mina-blue,.mina-button:active.mina-blue {
  background-color: #0d8bf2!important;color: #fff!important;
}
.mina-btn:hover.mina-white,.mina-btn:active.mina-white,.mina-button:hover.mina-white,.mina-button:active.mina-white {
  background-color: #f1f1f1!important;
}
.nextprev .mina-btn:not(.mina-left):not(.mina-right):hover,.nextprev .mina-btn:not(.mina-left):not(.mina-right):active,.nextprev .mina-btn:not(.mina-left):not(.mina-right):focus {
  background-color: #f1f1f1!important;
}

/*NYTT br:*/

.c-table-all {border-collapse:collapse;border-spacing:0;width:100%;display:table;border:1px solid #ccc}
.c-table-all tr {border-bottom:1px solid #ddd}
.c-table-all tr:nth-child(odd) {background-color:#fff}.c-table-all tr:nth-child(even){background-color:#E7E9EB}
.c-table-all td,.c-table-all th {padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.c-table-all th:first-child, .c-table-all td:first-child{padding-left:16px}

.bar-item-hover:hover {
  background-color: #04AA6D !important;
  color:white!important;
}
.mystyle,.mystyle:hover {
  background-color: #282A35!important;
  color:white!important;
}
#minaloginbtn:hover {
  background-color: #059862 !important;
  color:white!important;
}

@media screen and (min-width:860px) {
  #myAccordion {
    display: none !important;
  }
}
@media screen and (min-width:601px) {
  #navbtn_menu {
    display: none;
  }
}

@media screen and (max-width:700px) {
  #cert_navbtn {
    display: none !important;
  }
}

#myAccordion {
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 1;
  width:100%;
  position:absolute;
  display:none;
  background-color:#E7E9EB;
}
#sectionxs_tutorials,#sectionxs_references,#sectionxs_exercises {background-color:#282A35;color:white;}
#myAccordion .sectionxsclosenavspan {
  display: none;
}

.c-css-exercises {
  background-color:#282A35;
  color: white;
}

.c-css-exercises .mina-btn {
  background-color:#04AA6D;
  color:white;
}

a.btnsmall {
  background-color:#04AA6D!important;
  color:white;
  border-radius:5px;
}

/* NYTT br AUG 2021 */

.ribbon-topnav {
  font-size:11px;
  font-weight:bold;
  padding:3px 10px;
  margin-left:3px;
  text-align: center;
  color:black;
  border-radius:25px;
  border:1px solid black;
  position:relative;
  top:-2px;
  background-color:white;
}

@media screen and (max-width: 1066px) {
  .c-hide-1066 {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  .c-hide-900 {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  .c-hide-800 {
    display: none !important;
  }
}


/* NYE farger */

.c-black {
  background-color:#282A35!important;
  color: white!important;
}

.c-hover-black:hover {
  background-color:#000!important;
  color: white!important;
}


.c-grey {
  background-color:#E7E9EB!important;
  color: black!important;
} 

.c-yellow {
  background-color:#F7B32D!important;
  color: black!important;
} 

.c-green {
  background-color:#04AA6D!important;
  color: white!important;
} 

.c-text-green {
  color: #04AA6D!important;
} 

.c-hover-green:hover {
  background-color:#059862!important;
  color: white!important;
} 

.c-hover-text-green:hover {
  color:#059862!important;
} 

.c-light-green {
  background-color:#D9EEE1!important;
  color: black!important;
}

.c-turquoise {
  background-color:#96D4D4!important;
  color: black!important;
} 

.c-pink {
  background-color:#FFC0C7!important;
  color: black!important;
} 

.c-light-pink {
  background-color:#F3ECEA!important;
  color: black!important;
} 

.c-orange{
  background-color:#f07810!important;
  color: white!important;
}

.c-btn {font-size: 17px;font-family: 'Source Sans Pro', sans-serif;border:none;border-radius:5px;display:inline-block;padding:6px 18px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;;text-align:center;cursor:pointer;white-space:nowrap;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#04AA6D;color:#ffffff}

.c-btn:hover,.c-btn:active {
  background-color: #059862!important;
  color: #ffffff;
}

a.btnsmall:hover {box-shadow:none;}
a.btnsmall:active,a.btnsmall:hover {color:#fff;}
a.btnplayit:hover,a.btnplayit:active {background-color:#ff9900!important;color:#fff}
a.btnplayit:hover {box-shadow:none;}
#mina-exerciseform {
  padding: 20px;
  margin:32px -20px;
}
p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 15px;
}
hr {
  margin:20px -16px;
}
.mina-codespan {
  font-size:105%;
  background-color:rgba(222,222,222,0.3);
}
/*.mina-example p,.mina-panel p {*/
.mina-example p,.mina-info p,.mina-note p,.mina-warning p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mina-code,mina-codeline{
  font-size:15px;
}
#midcontentadcontainer,#mainLeaderboard {
  text-align:center;
  margin-left:-16px;
  margin-right:-16px;
}

.adtext {
 font-family: "Segoe UI",Arial,sans-serif;
 font-size: 12px;
 color: #777;
 margin-top:0;
 margin-bottom:0;
 padding-top:0;
 padding-bottom:0;
}

#snhb-mid_content-0{height:292px;width:100%;position:relative;display:table}
#snhb-mid_content-0>p{top:0;left:0;width:100%;position:absolute;display:block}
#snhb-mid_content-0>div{width:100%!important;padding-top:15px;display:table-cell!important;vertical-align:middle;text-align:center}
#snhb-wide_skyscraper-0{height:612px;position:relative;display:block}
@media screen and (max-width:974px){
  #snhb-wide_skyscraper-0{height:62px}
}

@media screen and (max-width:600px) {
.mina-example, #mina-exerciseform {margin-left:-32px;margin-right:-32px;border-radius:0}
}

/*@media only screen and (max-device-width: 480px) {*/
@media only screen and (max-width: 500px) {
#main {padding:24px;padding:16px}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
.mina-example {
  padding: 8px 16px;
  margin: 24px -16px;
}
#mina-exerciseform {
  padding: 8px 16px 16px 16px;
  margin: 24px -16px;
}
/*.mina-panel,.mina-info {*/
.mina-note,.mina-info,.mina-warning {
  margin-left:-16px;
  margin-right:-16px;
  padding-left:16px!important;
  padding-right:16px!important;
}

}
